includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
#        - tests/

    # Level 9 is the highest level
    level: 9

    ignoreErrors:
#
    excludePaths:
        - ./app/Console/Commands/MigrateCommand.php
        - ./app/Helpers/EditorJsParser.php
#
#    checkMissingIterableValueType: false
